<p style="margin-left: 2.5em;padding: 0 7em 2em 0;"></p>

<kendo-grid [data]="gridView"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [filter]="state.filter"
  [sortable]="true"
  [pageable]="true"
  [filterable]="true"
  (dataStateChange)="dataStateChange($event)">
  <ng-template kendoGridToolbarTemplate>
    <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
  </ng-template>
  <kendo-grid-column field="firstname" title="First Name" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="lastname" title="Last Name" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="address" title="Address" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="city" title="City" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="zipcode" title="ZipCode" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="email" title="Email" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="checkin" title="Last Checkin" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>
        {{ dataItem.checkin | date:'medium' }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-excel fileName="AllUsers.xlsx" [fetchData]="allData"></kendo-grid-excel>
</kendo-grid>